/* purple row-----------------------------------------------------------------*/
#purplerow {
  background-color: #6551CC;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-top: 16px;
  padding-bottom: 8px;
}

/* login row------------------------------------------------------------------*/
#loginrow {
  background-color: whitesmoke;
  font-size: 17px;
  color: lightslategray;
  padding: -10px 14px;
}

.underlined:hover {
  text-decoration: underline;
}

#loginrow a {
  color: midnightblue;
}

/* search row-----------------------------------------------------------------*/
#searchrow {
  margin-top: 16px;
}

.redbubblelogo {
  padding-left: 8%;
  padding-right: 8%;
}

.searchbar {
    position: relative;
    margin-left: 2%;
}

.searchbar input {
    background: #F2F2F6;
    border: 3.5px solid #F2F2F6;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/*add the search icon*/
.searchbar i {
    position: absolute;
    right: 20px;
    padding: 12px 12px;
    pointer-events: none;
    line-height: 22px;
}

/*add the purple border*/
.form-control:hover, .form-control:focus {
    border: 3.5px solid #A397E1;
    border-radius: 8px;
    background-color: white;
  }

  input.form-control {
    color: midnightblue;
  }

/*heart and shopping cart icon spacing*/
#heartglyph {
  margin-top: 5px;
  padding-left: 5%;
}
#cartglyph {
  margin-top: 5px;
  padding-left: 2%;
}

/* nav row--------------------------------------------------------------------*/
#navbar {
font-size: 17px;
margin-top: 16px;
}

.dropdown {
  margin-right: 1.4em;
  line-height: 22px
}
.dropdown a {
  color: midnightblue;
}
#navbar li a {
  color: midnightblue;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

/*header image & text---------------------------------------------------------*/
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  border-radius: 5%;
}

/* text */
.leftHeader {
  position: absolute;
  bottom: 205px;
  left: 7%;
  color: #1A1239;
  text-shadow: 1px 0 #1A1239;
  letter-spacing:1px;
  font-weight:bold;
}
.leftText {
  position: absolute;
  bottom: 135px;
  left: 7%;
  font-size: 21px;
  color: #1A1239;
}
.button {
  position: absolute;
  bottom: 85px;
  left: 7%;
  font-size: 14px;
  font-weight: bolder;
  color: #1A1239;
  background-color: #D38B9F;
  border: none;
  border-radius: 10%;
  padding: 10px;
}

.button:hover {
  background: #C28093;
}

.button:active {
  outline: none;
  border: none;
}
.button a {
  color: #1A1239;
  text-decoration: none;
}

.button a:hover {
  color: #1A1239;
  text-decoration: none;
}

.pinkHeader {
  border-radius: 1%;
}

/*product images--------------------------------------------------------------*/
#productRow {
  margin-top: 50px;
}
.productImg {
  border-radius: 2%;
  margin-bottom: 30px;
}
.productName {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/*Shop by theme---------------------------------------------------------------*/
.themeRow {
  text-align: left;
  margin: -12px -12px 6px;
  padding: 12px;
}
.themeButton {
  background: white;
  border-radius: 2%;
  border: 1px solid grey;
  margin: 8px 32px 8px 4px;
  padding: 16px 24px;
}

.themeButton a {
  color: #1A1239;
}

/*Easily set glyphicon sizes--------------------------------------------------*/
  .gi-1x{font-size: 1.5em}
  .gi-2x{font-size: 1.8em;}
  .gi-3x{font-size: .8em;}
  .gi-4x{font-size: 4em;}
  .gi-5x{font-size: 5em;}
